pip
scikit-learn
scikit-image
numpy
scipy
pandas
tensorflow
tensorflow-gpu
keras
Pillow
argparse
pymysql
requests
cycler
decorator
imageio
kiwisolver
matplotlib
networkx
opencv-python
pyparsing
python-dateutil
PyWavelets
setuptools
six
scrapy
scrapy_fake_useragent
beautifulsoup4
cykooz.heif
tabulate
